.page{
    width: 600px;
    margin: 0 auto;
}

.dialog{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}
.dialog-panel{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    background: #009688;
    width: 600px;
    /*margin: -100px 0 0 -300px;*/
    transform: translate(-50%,-50%);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dialog-header,
.dialog-footer{
    color: white;
}
.dialog-content{
    background: #fff;
    overflow: auto;
    padding: 20px 0;
}
.dialog-header>h4,
.dialog-footer>h4{
    font-size: 20px;
    margin: 15px 10px;
}
.dialog-content>p{
    font-size: 16px;
    margin: 15px 10px;
}
.dialog-header>h4:before{
    content:"×";
    font-weight: normal;
    float: right;
    color: #fff;
    cursor: pointer;
}
