<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>dialog</title>
    <link rel="stylesheet" type="text/css" href="dialog.css">
</head>

<body>
    <div class="page">
        <h1>这是页面内容</h1>
        <h1>这是页面内容</h1>
        <h1>这是页面内容</h1>
        <div class="dialog">
            <div class="dialog-panel">
                <div class="dialog-header">
                    <h4 class="dialog-header">头部</h4>
                </div>
                <div class="dialog-content">
                    <p>这是内容</p>
                    <p>这是内容</p>
                </div>
                <div class="dialog-footer">
                    <h4>尾部</h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
