<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" type="text/css" href="navigation.css">
</head>

<body>
    <div class="nav panel">
        <ul class="clearfix">
            <li class="nav main-page ">首页</li>
            <li class="nav works ">作品</li>
            <li class="nav more ">更多
                <div class="nav dropbox ">
                    <a href="# ">GitHub</a>
                    <a href="# ">博客</a>
                    <a href="# ">知乎</a>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>
