* {
    box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.border-btn {
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 30px;
    margin: 0 auto;
    border-radius: 3px;
}

.border-btn:hover {
    color: #31ccfd;
    border: 1px solid #31ccfd;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.three-columns-ul {
    max-width: 960px;
    margin: 0 auto;
    display: inline-block;
}

.three-columns-ul>li {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 10px;
}

.three-columns-ul li:nth-child(3n) {
    margin-right: 0;
}

@media (max-width: 900px) {
    .three-columns-ul>li {
        width: 49%;
        margin-right: 2%;
    }
    .three-columns-ul li:nth-child(3n) {
        margin-right: 2%;
    }
    .three-columns-ul li:nth-child(2n) {
        margin-right: 0;
    }
}
@media (max-width: 600px) {
    .three-columns-ul>li {
        width: 100%;
        margin-right: 0;
    }
    .three-columns-ul li:nth-child(3n) {
        margin-right: 0;
    }
    .three-columns-ul li:nth-child(2n) {
        margin-right: 0;
    }
}
p.detail {
    text-align: left;
}

body {
    font: 14px/1.8 Georgia, "Times New Roman", Times, serif;
    background-color: transparent;
    color: #fff;
}

html,
body,
#content {
    height: 100%;
    color: #fff;
}

header {
    min-width: 500px;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 100;
}

header .icon {
    font-size: 30px;
    color: #31ccfd;
    margin-left: 10px;
    position: absolute;
    left: 5px;
    top: 0;
}

header .icon:hover {
    color: #fff;
}

header .nav {
    font-family: avenirblack, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    float: right;
    position: relative;
}

header .nav li {
    float: left;
}

header .nav a {
    display: inline-block;
    padding-top: 10px;
    width: 100px;
    font-weight: lighter;
    color: #eee;
    float: left;
}

header .nav a:hover {
    border-bottom: 4px solid #31ccfd;
}

header .nav a:active {
    color: #31ccfd;
    border-bottom: 4px solid #31ccfd;
}
header .icon-nav{
    display: none;
    width: 42px;
    height: 42px;
    padding: 2px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 4px;
    margin-right: 10px;
    fill: #fff;
    float: right;
}

@media (max-width: 800px) {
    header .icon-nav {
        display: inline-block;
    }
    header ul.nav{
        display: none;
        border
    }
    header ul.nav>li a{
        font-size: 16px;
    }
    header div.nav:hover ul{
        display: inline-block;
        clear: both;
        min-width: 100px;
        position: absolute;
        top: 50px;
        right: 0;
        height: auto;
        margin-right: 10px;
        background: rgba(0,0,0,0.6);
    }
    header div.nav:hover li{
        font-weight: bold;
        width: 100%;
        clear: both;
    }
    header ul.nav a:hover{
        border: 0;
        color: #31ccfd;
    }
}

section {
    border: 1px solid transparent;
}

#content {
    text-align: center;
}

#content h1 {
    font-size: 40px;
    text-transform: capitalize;
}

#content p {
    color: #eee;
}

#content .description {
    font-style: italic;
}

#home {
    background-image: url(http://static3.visitfinland.com/wp-content/uploads/Header_lapland_konsta_aurora_hannes_matala-1600x900.jpg);
    background-repeat: no-repeat;
    background-position: center, center;
    background-attachment: fixed;
    background: url(http://static3.visitfinland.com/wp-content/uploads/Header_lapland_konsta_aurora_hannes_matala-1600x900.jpg) no-repeat fixed center center;
    background-size: cover;
    text-align: center;
    height: 100%;
}

#home h1 {
    margin-top: 220px;
}

#home .border-btn {
    margin-top: 40px;
}

#attraction {
    background: #333;
    padding: 30px;
}

#attraction ul {
    margin-top: 50px;
    margin-bottom: 30px;
}

#attraction h1 {
    margin-top: 30px;
    color: lightblue;
}

#attraction svg{
    width: 120px;
    height: 120px;
    margin: 30px;
    border-radius: 50%;
}
#attraction svg:hover{
    width: 140px;
    height: 140px;
    margin: 20px;
}
#attraction h3 {
    /*color: #31ccfd;*/
    color: lightblue;
}

#attraction p.detail {
    line-height: 1.5;
}

#experience {
    background: #555;
    padding: 30px 20px;
}
#experience h1{
    color: lightblue;
}
#experience ul {
    margin: 30px auto;
}

#experience li {
    background: lightblue;
    margin-bottom: 10px;
    float: left;
    /*  background-image: url("http://static1.visitfinland.com/wp-content/uploads/MEK-LAPPEENRANTA-24_45842-400x300.jpg");*/
    /*  margin-bottom: 5%;*/
}

@media (min-width: 300px) {
    #experience li {
        width: 100%;
    }
}

@media (min-width: 600px) {
    #experience li {
        width: 49.5%;
        margin-right: 1%;
    }
    #experience li:nth-child(2n) {
        margin-right: 0;
    }
}

@media (min-width: 900px) {
    #experience li {
        float: left;
        width: 33%;
        margin-right: .5%;
    }
    #experience li:nth-child(2n) {
        margin-right: .5%;
    }
    #experience li:nth-child(3n) {
        margin-right: 0;
    }
}

#experience .wrap {
    position: relative;
    font-size: 0;
}

#experience img {
    width: 100%;
    height: auto;
    background: lightblue;
}

#experience .shadow {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 5px;
}

#experience p {
    font-size: 14px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    vertical-align: middle;
}

#experience a {
    display: inline-block;
    color: lightblue;
    position: absolute;
    width: 100%;
    font-size: 14px;
    bottom: 5%;
    left: 0;
}

#experience h3 {
    color: #444;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 20%;
}

#experience li:hover .shadow {
    display: block;
}

#season {
    background: #333;
    padding: 30px 10px;
}

#season h1 {
    color: lightblue;
}

#season p.description {
    padding-bottom: 20px;
}

#season .wrap {
    max-width: 960px;
    margin: auto;
}

#season ul {
    padding: 0;
    margin: 30px 0;
    font-size: 0;
}

#season li {
    position: relative;
    padding-bottom: 100px;
    z-index: 1;
}

#season li:last-child {
    padding-bottom: 0;
}

#season h3 {
    color: lightblue;
}

#season li:after {
    content: "";
    display: inline-block;
    height: 100%;
    z-index: -1;
    position: absolute;
    border-left: 2px solid #777;
    top: 0;
    left: 50%;
    margin-left: -1px;
}

#season img {
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid lightgrey;
}

#season img:hover {
    border: none;
}

#season .detail {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    text-align: left;
    margin-left: 90px;
}

#season .detail h3 {
    font-size: 20px;
}

#season .detail p {
    font-size: 14px;
}

#season li:nth-child(2n) .detail {
    text-align: right;
    left: 0;
    right: 50%;
    margin-left: 0;
    margin-right: 90px;
}

@media (max-width: 600px) {
    #season li {
        text-align: left;
    }
    #season li:after {
        left: 0;
        right: 0;
        margin-left: 79px;
    }
    #season .detail {
        text-align: left;
        left: 0;
        right: 0;
        margin-left: 180px;
    }
    #season li:nth-child(2n) .detail {
        text-align: left;
        left: 0;
        right: 0;
        margin-left: 180px;
    }
    #season .detail p {
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

#team {
    background: #555;
    padding: 30px 10px;
}
#team h1,
#team h3{
    color: lightblue;
}
#team>ul{
    max-width: 960px;
    margin: 70px 0;
}
#team>ul img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #f1f1f1;
}
#team>ul p{
    min-width: 300px;
}
#contact{
    background: #333;
    padding: 30px;
}
#contact h1{
    color: lightblue;
}
#contact form{
    max-width: 960px;
    margin: 80px auto;
    text-align: center;
}
#contact .wrap{
    width: 49%;
    float: left;
    margin-right: 2%;
}
#contact input{
    display: block;
    height: 70px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

#contact textarea{
    float: left;
    width: 49%;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#contact button{
    display: inline-block;
    width: 30%;
    background: lightblue;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    margin-top: 10px;
    line-height: 40px;
}
#contact button:hover{
    background: #31ccfd;
    color: #fff;
    transform: translate(0, 1px);
}
@media (max-width: 700px){
    #contact .wrap{
        width: 100%;
    }
    #contact textarea{
        width: 100%;
    }
}
footer{
    height: 80px;
    background: #555;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
footer .wrap{
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}
footer .wrap:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
footer>.wrap>div{
    display: inline-block;
    width: 30%;
    line-height: 80px;
}
footer .copyright{
    text-align: left;
}
footer .icon svg{
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
    background: lightblue;
    vertical-align: middle;
    line-height: 80px;
}
footer .icon svg:hover{
    background: #31ccfd;
    fill: white;
}
footer .ref{
    text-align: right;
}
footer a{
    display: inline-block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: right;
}
footer a:hover{
    color: #31ccfd;
}

